<div class="layout-sidebar">
  <div class="sidebar-header">P R O G R E S S</div>
  <div class="layout-menu-container">
    <ul class="layout-menu">
      <li>
        <div class="item-header">Dashboards</div>

        <div class="subitems" style="background-color: whitesmoke;">
          <i class="pi pi-home"></i>
          E-Commerce
        </div>
      </li>

      <li>
        <div class="item-header">Apps</div>

        <div class="subitems">
          <i class="pi pi-home"></i>
          Chats
        </div>
      </li>
      
      <li>
        .<br>.<br>.<br>.<br>..<br>.<br>..<br>.<br>..<br>.<br>..<br>.<br>..<br>.<br>..<br>.<br>..<br>.<br>..<br>.<br>.<br>.<br>..<br>.<br>..<br>.<br>..<br>.<br>..<br>.<br>..<br>.<br>..<br>.<br>..<br>.<br>..<br>.<br>..<br>.<br>..<br>.<br>..<br>.<br>..<br>.<br>..<br>.<br>..<br>.<br>..<br>.<br>
      </li>

     


    </ul>
  </div>
</div>
