<div class="layout-topbar">
   <div class="topbar-start">
    <button type="button" class="topbar-menubutton" (click)="alter()"><i class="pi pi-bars" style="font-size: 1.25rem;font-weight: 500;"></i></button>
    <span>E-Commerce Dashboard</span>
</div>
   <div class="topbar-end">
     <span>
        <i class="pi pi-search " style="font-size: 14px"></i>
        <input type="search" placeholder="Search">
     </span>
     <div class="setting-icon">
      <i class="pi pi-cog" ></i>
     </div>
     
     <div class="profile-cont">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSTqRy-bN8vu996beS2hqDv9d-HZlFulEwaGg&s">
     </div>
     
   </div>
</div>