/* You can add global styles to this file, and also import other style files */
@import "~primeng/resources/themes/saga-blue/theme.css";   // PrimeNG theme
@import "~primeng/resources/primeng.min.css";              // PrimeNG core CSS
@import "~primeicons/primeicons.css";                      // PrimeIcons
@import "~primeflex/primeflex.css";                        // PrimeFlex (optional for utilities like grids, spacing, etc.)

body{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    
}